---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Servicios">
  <div class="container mx-auto px-10">
    <h1 class="text-5xl font-bold text-center mt-8" style="color: #FCA311;">
      Los 8 pasos para ser un Verdadero Business Partner de Recursos Humanos
    </h1>

    <div class="flex justify-center">
      <img src="/src/images/8Paso/1.png" alt="" />
    </div>

    <div class="flex justify-center pt-14">
      <p class="text-lg">
        Contenido basado en el libro "Verdadero Business Partner - Cómo RH puede
        ser un auténtico Socio de Negocio” recomendado por Dave Ulrich y Jac
        Ftz-Enz.
      </p>
    </div>

    <div class="pt-11">
      <h2 class="font-bold text-xl">Descripción</h2>
      <p class="text-lg">
        Conferencia - Taller para proporcionar a la dirección y a los
        profesionales de Recursos Humanos una comprensión integral de las
        condiciones indispensables para ser reconocidos como un verdadero factor
        clave estratégico en la empresa y  capacitarlos para diseñar y ejecutar
        un plan de acción Individual y de equipo para lograrlo. Puede
        complementarse con un programa de mentoría individual o al equipo de
        trabajo de Recursos Humanos.
      </p>
    </div>

    <div class="pt-11">
      <h2 class="font-bold text-xl">Aprendizaje</h2>
      <p class="text-lg">
        Conocer los tres vectores de acción y las 8 tareas indispensables para
        que el área de Recursos Humanos se convierta en un verdadero aliado
        estratégico del liderazgo de la empresa y agregue valor efectivo y cómo
        diseñar un plan de acción y prepararse para ejecutarlas. Recursos
        Humanos tiene que tener un profundo conocimiento del negocio, una
        posición relevante y de mucho peso en el equipo ejecutivo-gerencial y un
        manejo muy eficaz y productivo de todos los procesos y tareas
        relacionados con la gestión de recursos humanos de la empresa.
      </p>
    </div>

    <div class="py-24">
      <img src="/src/images/8Paso/Group.png" alt="" />
    </div>
  </div>
</Layout>
