---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog Luis Pulgar">
  <div class="container mx-auto px-5 lg:px-10">
    <h1 class="text-5xl font-bold text-center mt-8" style="color: #FCA311;">
      BLOG
    </h1>
    <div class="flex flex-wrap -mx-4 mt-8 lg:mt-24">
      <div class="w-full sm:w-1/2 px-4 relative">
        <div class="relative hidden lg:flex">
          <img
            src="/src/images/blog/image-7.png"
            alt="Imagen 1"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/recursos-humanos-actor-clave-del-negocio-ser-un-de-la-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-4 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <h2 class="text-2xl font-bold mb-2">
          Recursos Humanos, ¿actor clave del negocio? Ser un eslabón de la
          cadena de valor
        </h2>
        <div class="relative lg:hidden">
          <img
            src="/src/images/blog/image-7.png"
            alt="Imagen 1"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/recursos-humanos-actor-clave-del-negocio-ser-un-de-la-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-0 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <p>
          Si una organización quiere ser un eslabón válido en la cadena de valor
          de la sociedad tiene que generar para ella un aporte tangible.
          Paradójicamente, cada vez más, la percepción de valor está vinculada a
          los atributos intangibles de los productos y servicios que se ofrecen,
          relacionada con la tecnificación, la calidad y la experiencia de uso.
          Una percepción de valor alta fortalece las relaciones con los clientes
          mediante la real satisfacción de sus necesidades, lo que trae como
          consecuencia que adopten como propios los productos y servicios y los
          sigan adquiriendo.
        </p>
      </div>
      <div class="w-full sm:w-1/2 px-4 mt-8 lg:mt-0 relative">
        <div class="relative hidden lg:flex">
          <img
            src="/src/images/blog/image-8.png"
            alt="Imagen 2"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/liderazgo-en-%C3%A9pocas-disruptivas-luis-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-4 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <h2 class="text-2xl font-bold mb-2">Liderazgo en épocas disruptivas</h2>
        <div class="relative lg:hidden flex">
          <img
            src="/src/images/blog/image-8.png"
            alt="Imagen 2"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/liderazgo-en-%C3%A9pocas-disruptivas-luis-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-4 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <p>
          A lo largo del tiempo surgen en el mundo términos y conceptos
          afortunados que se vuelven populares en el léxico de la gente en
          medios académicos o empresariales. Hace años un amigo me decía que se
          podía jugar bingo en las reuniones de las grandes corporaciones con un
          tablero en el que figurara la lista de esos términos, con la seguridad
          de que en cualquier junta o reunión de alto nivel terminarían todas
          por ser mencionados en algún momento. Uno de estos conceptos es el de
          “organización disruptiva”.
        </p>
      </div>
    </div>

    <div class="flex flex-wrap -mx-4 mt-8 lg:mt-24">
      <div class="w-full sm:w-1/2 px-4 relative">
        <div class="relative hidden lg:flex">
          <img
            src="/src/images/blog/image-9.png"
            alt="Imagen 3"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/la-indispensable-propuesta-de-valor-luis-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-4 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <h2 class="text-2xl font-bold mb-2">
          La indispensable Propuesta de Valor
        </h2>
        <div class="relative lg:hidden flex">
          <img
            src="/src/images/blog/image-9.png"
            alt="Imagen 3"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/la-indispensable-propuesta-de-valor-luis-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-4 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <p>
          Implantar un cambio mayor en una organización es una tarea muy
          difícil. A los seres humanos en general no nos gusta cambiar, a veces
          ni siquiera para mejorar nuestra situación. Por eso para emprender
          cualquier transformación que implique incomodarnos, por modificar
          nuestro estatus o costumbres actuales, la vemos con recelo y la
          rechazamos.
        </p>
      </div>
      <div class="w-full sm:w-1/2 px-4 mt-8 lg:mt-0 relative">
        <div class="relative hidden lg:flex">
          <img
            src="/src/images/blog/image-10.png"
            alt="Imagen 4"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/networking-la-competencia-clave-para-el-profesional-de-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-4 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <h2 class="text-2xl font-bold mb-2">
          Networking: La competencia clave para el profesional de Recursos
          Humanos
        </h2>
        <div class="relative lg:hidden flex">
          <img
            src="/src/images/blog/image-10.png"
            alt="Imagen 4"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/networking-la-competencia-clave-para-el-profesional-de-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-4 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <p>
          La red, que es la mas acabada expresión del Capital Relacional; es un
          mecanismo de interacción que siempre ha existido,  para conferir una
          ventaja competitiva a quienes la han sabido establecer y cultivar
          sabiamente. Nuestra red es la que nos va a permitir ubicar rápidamente
          las piezas de conocimiento e información que necesitamos, los recursos
          que requerimos y las soluciones que buscamos para poder interactuar
          eficazmente dentro de nuestra empresa y en nuestra relación con el
          entorno.
        </p>
      </div>
    </div>

    <div class="flex flex-wrap -mx-4 mt-8 lg:mt-24 pb-10">
      <div class="w-full sm:w-1/2 px-4 relative">
        <div class="relative hidden lg:flex">
          <img
            src="/src/images/blog/image-11.png"
            alt="Imagen 5"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/pr%C3%B3logo-del-libro-la-br%C3%BAjula-valor-de-eleodoro-luis-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-4 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <h2 class="text-2xl font-bold mb-2">
          Prólogo del libro "La Brújula del Valor"​ de Eleodoro Ventocilla
        </h2>
        <div class="relative lg:hidden flex">
          <img
            src="/src/images/blog/image-11.png"
            alt="Imagen 5"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/pr%C3%B3logo-del-libro-la-br%C3%BAjula-valor-de-eleodoro-luis-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-4 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <p>
          Me gusta imaginarme a mi amigo Eleodoro Ventocilla en una época muy
          anterior a nuestro primer encuentro cuando, como un joven arquitecto
          lleno de ilusiones, salió de su Lima natal con la intención de hacer
          grandes cosas en la vida. Parte de esa cualidad soñadora con seguridad
          la heredó de su padre periodista. Ya sabemos cómo son esos seres
          idealistas, que transitan por el mundo conectando a la gente con los
          hechos y por esa razón enterándose de muchas cosas antes que los
          demás.
        </p>
      </div>
      <div class="w-full sm:w-1/2 px-4 mt-8 lg:mt-0 relative">
        <div class="relative hidden lg:flex">
          <img
            src="/src/images/blog/14444752_10208728025452428_3792595637627075962_o_1.png"
            alt="Imagen 6"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/ni-nativos-inmigrantes-somos-ciudadanos-digitales-luis-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-4 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <h2 class="text-2xl font-bold mb-2">
          Ni nativos ni inmigrantes: somos ciudadanos digitales
        </h2>
        <div class="relative lg:hidden flex">
          <img
            src="/src/images/blog/14444752_10208728025452428_3792595637627075962_o_1.png"
            alt="Imagen 6"
            class="w-full mb-4"
          />
          <a
            href="https://www.linkedin.com/pulse/ni-nativos-inmigrantes-somos-ciudadanos-digitales-luis-pulgar-finol/"
            target="_blank"
          >
            <button
              class="absolute bottom-4 right-0 font-bold px-4 py-2 rounded-full"
              style="background-color: #FCA311;
              color: #11151C;"
              >Ver más</button
            >
          </a>
        </div>
        <p>
          En el mundo globalizado, desde que nos empezamos a adentrar en el
          siglo XXI, se hizo indispensable acostumbrarnos a vivir
          como ciudadanos digitales. Todos lo somos querámoslo o no. Como los
          ciudadanos de un país deben cumplir sus leyes y gozan de ciertos
          derechos, aunque no los conozcan, a nosotros nos ocurre lo mismo en lo
          que respecta a vivir en el actual mundo digital. La mayor parte de las
          personas que habitamos este planeta en esta etapa del desarrollo de la
          humanidad, estamos inmersos en el mundo digital cada vez más
          envolvente y formamos parte de él, aún el caso de que no lo
          comprendamos del todo ni hagamos uso de las facilidades que nos
          ofrece.
        </p>
      </div>
    </div>
  </div>
</Layout>
