---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Libros Luis Pulgar">
  <div class="container mx-auto px-10">
    <h1
      class="text-5xl font-bold text-center mt-8 relative"
      style="color: #FCA311;"
    >
      LIBROS
    </h1>
    <div class="flex flex-col mt-24 sm:flex-row">
      <div class="relative w-full sm:w-1/2 mb-6 sm:mb-0">
        <img
          src="/src/images/libros/libro.jpg"
          alt="Descripción de la imagen"
          class="w-full mb-6 sm:mb-0"
        />
        <a
          href="https://www.amazon.com/Verdadero-Business-Partner-recursos-aut%C3%A9ntico-ebook/dp/B098R8Q6JY#customerReviews" target="_blank"
        >
          <button
            class="absolute bottom-0 right-0 px-4 py-2 rounded-full font-bold"
            style="background-color: #FCA311;
              color: #11151C;"
            >Comprar</button
          >
        </a>
      </div>
      <div class="w-full sm:w-1/2 pl-8">
        <h2 class="text-3xl font-bold text-center mb-9">
          Verdadero Business Partner
        </h2>
        <p class="mb-10 text-lg">
          Si hay una aspiración compartida por los profesionales de Recursos
          Humanos en cualquier parte del mundo, sin duda es la de convertirse en
          un auténtico business partner. Pero, ¿cómo lograrlo? En estas páginas,
          Luis Pulgar, referente internacional en la materia, explica paso a
          paso qué debe hacer un profesional de Recursos Humanos para ser un
          verdadero socio de negocio.
        </p>
        <p class="text-lg">
          Basado en su propia experiencia de más de 30 años en empresas
          multinacionales en 10 países de varios continentes y diferentes
          sectores, el autor traza una hoja de ruta que profundiza en dos
          dimensiones: lo que Recursos Humanos como organización debe hacer y
          las competencias que debe reunir hoy el profesional de Recursos
          Humanos para convertirse en ese business partner reconocido por su
          capacidad de agregar valor al negocio.
        </p>
      </div>
    </div>

    <div>
      <p class="mt-8 text-lg">
        Enriquecido con ejemplos, experiencias y un plan de acción claro, el
        autor ofrece un modelo que ha implantado con éxito en diferentes
        compañías y avalado por algunos de los mayores expertos mundiales en la
        materia.
      </p>
      <p class="mt-8 text-lg">
        «Las décadas de experiencia de Luis le permiten ofrecer ideas únicas y
        útiles sobre cómo Recursos Humanos entrega un valor real. Este libro
        debería ser leído y utilizado por quienes aspiran a ser profesionales de
        Recursos Humanos». <strong>Dave Ulrich,</strong> creador del concepto de
        Business Partner de Recursos Humanos. Rensis Likert Professor de la Ross
        School of Business, Universidad de Míchigan y Partner de The RBL Group.
      </p>
      <p class="mt-8 text-lg">
        Luis Pulgar ofrece un camino de evolución para que los gerentes de
        Recursos Humanos crezcan de ser administradores de procesos a socios del
        negocio. Describe cómo las organizaciones han evolucionado durante las
        últimas décadas y cómo el papel de Recursos Humanos está creciendo con
        ellas. Él muestra cómo el mítico término "valor" puede tomar forma real,
        financiera, productiva y estratégicamente. Nos recuerda que el
        departamento de Recursos Humanos tiene la responsabilidad de ser un
        socio de negocios estratégico al contribuir con su conocimiento sobre la
        gestión del talento. Luis completa el viaje mostrando cómo la era
        digital presenta nuevos desafíos y nuevas oportunidades emocionantes.
        Este libro es una lectura obligada para todos los que trabajan en
        gestión de personas.
      </p>
      <p class="mt-8 text-lg"><strong>Dr. Jac Fitz-Enz, Ph.D.</strong></p>
      <p class="text-lg">
        <strong
          >Fundador de Human Capital Source, Inc. y del Saratoga Institute</strong
        >
      </p>
      <p class="text-lg">
        <strong
          >Padre de la medición y el análisis estratégico del capital humano</strong
        >
      </p>
      <p class="my-8 text-lg">
        «Maestros, estudiantes, académicos y gerentes de Recursos Humanos
        encontrarán un tremendo valor agregado en este libro a través de sus
        ideas, conceptos y casos prácticos». Luis Vielma Lobo, experto petrolero
        global, estratega y autor, presidente y director general de CBM
        Ingeniería Exploración y Producción (México).
      </p>
    </div>
  </div>
</Layout>

<style>
  h1::after {
    content: '';
    position: absolute;
    left: 420px;
    bottom: -50px;
    width: 30%;
    height: 10px; /* Ajusta el valor para el grosor del subrayado */
    background-color: #fca311; /* Cambia el color del subrayado aquí */
  }
</style>
