---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Servicios">
  <div class="container mx-auto px-10">
    <h1
      class="text-5xl font-bold text-center mt-8 relative"
      style="color: #FCA311;"
    >
      GERENCIA
    </h1>

    <div class="flex flex-wrap -mx-4 mt-24">
      <div class="w-full sm:w-1/2 px-4">
        <img
          src="/src/images/servicios/Gerencia/1.jpg"
          alt="Imagen 1"
          class="w-full mb-4"
        />
        <h2 class="text-4xl font-bold mb-2" style="color: #FCA311;">
          Tópicos Gerenciales en tiempos volátiles, ambiguos e inciertos
        </h2>
        <p class="text-lg">
          Ya superada la pandemia debemos aprender cómo apalancarnos en los
          aprendizajes que nos dejó la crisis para superar los retos de la
          normalidad – Entender las fortalezas adquiridas y cómo sacarles el
          máximo provecho.
        </p>
      </div>
      <div class="w-full sm:w-1/2 px-4 mt-4 sm:mt-0">
        <img
          src="/src/images/servicios/Gerencia/2.jpg"
          alt="Imagen 2"
          class="w-full mb-4"
        />
        <h2 class="text-4xl font-bold mb-2" style="color: #FCA311;">
          La Seguridad Psicológica en el Equipo de Trabajo
        </h2>
        <p class="text-lg">
          Desarrollar un ambiente de seguridad psicológica en el lugar de
          trabajo es indispensable para ser competitivos. Es necesario lograr
          que todos los miembros de la empresa sientan que pueden exponer
          abiertamente tus ideas, preguntas, preocupaciones o aceptar sus
          errores, sintiéndose incluidos y sin temor a ser humillados o juzgados
          injustamente. Puede complementarse con un programa de mentoría
          individual o al equipo de trabajo.
        </p>
      </div>
    </div>

    <div class="flex flex-wrap -mx-4 mt-24">
      <div class="w-full sm:w-1/2 px-4">
        <img
          src="/src/images/servicios/Gerencia/3.jpg"
          alt="Imagen 1"
          class="w-full mb-4"
        />
        <h2 class="text-4xl font-bold mb-2" style="color: #FCA311;">
          Escuchar a mi Equipo de Trabajo
        </h2>
        <p class="text-lg">
          Un líder efectivo, sabe escuchar de verdad a los miembros de su equipo
          para potenciar su productividad. El liderazgo efectivo está muy
          relacionado con la gestión de la conexión, la colaboración y el
          conocimiento. Escuchar es una competencia diferenciadora de los
          líderes con desempeño superior.
        </p>
      </div>
    </div>

    <div class="flex flex-wrap pt-14">
      <!-- Tarjetas arriba -->
      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/rh"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/RH.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la primera tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-2xl" style="color: #11151C">
              Recursos Humanos
            </p>
          </div>
        </a>
      </div>

      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/leadership"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/liderazgo.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la segunda tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-2xl" style="color: #11151C">
              Liderazgo
            </p>
          </div>
        </a>
      </div>

      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/strategy"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/Estrategia.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la tercera tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-2xl" style="color: #11151C">
              Estrategia
            </p>
          </div>
        </a>
      </div>

      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/OrganizationalCulture"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/cultura-organizacional.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la cuarta tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-xl" style="color: #11151C">
              Cultura Organizacional
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</Layout>

<style>
  h1::after {
    content: '';
    position: absolute;
    left: 420px;
    bottom: -50px;
    width: 30%;
    height: 10px; /* Ajusta el valor para el grosor del subrayado */
    background-color: #fca311; /* Cambia el color del subrayado aquí */
  }
</style>
