---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Servicios">
  <div class="container mx-auto px-5 lg:px-10">
    <h1 class="text-5xl font-bold text-center mt-8" style="color: #FCA311;">
      LIDERAZGO
    </h1>

    <div class="flex flex-wrap -mx-4 mt-8 lg:mt-24">
      <div class="w-full sm:w-1/2 px-4">
        <img
          src="/src/images/servicios/Liderazgo/gente-negocios-celebrando-exito.jpg"
          alt="Imagen 1"
          class="w-full mb-4 hidden lg:flex"
        />
        <h2 class="text-4xl font-bold mb-2" style="color: #FCA311;">
          Todos podemos ser Líderes Efectivos
        </h2>
        <img
          src="/src/images/servicios/Liderazgo/gente-negocios-celebrando-exito.jpg"
          alt="Imagen 1"
          class="w-full mb-4 lg:hidden flex"
        />
        <p class="text-lg">
          Potenciar la productividad de la empresa mediante el entendimiento de
          los comportamientos de un liderazgo superior en el marco de los
          valores fundamentales y visualizar las brechas entre sus conductas
          actuales como líderes y las correspondientes a dicho modelo, para
          motivarlos a que tomen la decisión de adoptarlas mediante un plan de
          acción factible y realista. Se aprenderá cómo es necesario actuar con
          naturalidad y convicción al aplicar lo aprendido de otros y de
          nuestras propias vivencias, para generar confianza y convertirnos en
          líderes de desempeño superior.
        </p>
      </div>
      <div class="w-full sm:w-1/2 px-4 mt-4 sm:mt-0">
        <img
          src="/src/images/servicios/Liderazgo/equipo-negocios-feliz-celebrando-manos-levantadas-oficina-exito-concepto-ganador.jpg"
          alt="Imagen 2"
          class="w-full mb-4 hidden lg:flex"
        />
        <h2 class="text-4xl font-bold mb-2" style="color: #FCA311;">
          Liderazgo Situacional
        </h2>
        <img
          src="/src/images/servicios/Liderazgo/equipo-negocios-feliz-celebrando-manos-levantadas-oficina-exito-concepto-ganador.jpg"
          alt="Imagen 2"
          class="w-full mb-4 lg:hidden flex"
        />
        <p class="text-lg">
          Reconocer la importancia de adaptar el estilo de liderazgo según las
          necesidades y la madurez de los miembros del equipo, destacando la
          relevancia de la comunicación clara y abierta y la toma de decisiones
          basadas en la situación, la confianza y la comunicación, en un entorno
          de aprendizaje continuo.
        </p>
      </div>
    </div>

    <div class="flex flex-wrap -mx-4 mt-5 lg:mt-24">
      <div class="w-full sm:w-1/2 px-4">
        <img
          src="/src/images/servicios/Liderazgo/empresaria-lider-oficina-moderna-workpeople-empresarios.jpg"
          alt="Imagen 1"
          class="w-full mb-4 hidden lg:flex"
        />
        <h2 class="text-4xl font-bold mb-2" style="color: #FCA311;">
          Mentoría de Liderazgo
        </h2>
        <img
          src="/src/images/servicios/Liderazgo/empresaria-lider-oficina-moderna-workpeople-empresarios.jpg"
          alt="Imagen 1"
          class="w-full mb-4 lg:hidden flex"
        />
        <p class="text-lg">
          El mentor compartirá conocimientos prácticos y proporcionará con
          perspectivas valiosas basadas en su propia experiencia en roles
          similares para acelerar el desarrollo profesional, apoyar en la
          transición a un nuevo rol, ayudar a gestionar el estrés y el balance
          trabajo-vida o desarrollar habilidades de comunicación.
        </p>
      </div>
    </div>

    <div class="flex flex-wrap pt-14">
      <!-- Tarjetas arriba -->
      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/strategy"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/Estrategia.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la primera tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-2xl" style="color: #11151C">
              Estrategia
            </p>
          </div>
        </a>
      </div>

      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/OrganizationalCulture"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/cultura-organizacional.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la segunda tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-xl" style="color: #11151C">
              Cultura Organizacional
            </p>
          </div>
        </a>
      </div>

      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/gerency"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/gerencia.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la tercera tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-2xl" style="color: #11151C">
              Gerencia
            </p>
          </div>
        </a>
      </div>

      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/rh"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/RH.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la cuarta tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-2xl" style="color: #11151C">
              Recursos Humanos
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</Layout>
