---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Servicios">
  <div class="container mx-auto px-5 lg:px-10">
    <h1
      class="text-4xl lg:text-5xl font-bold text-center mt-8"
      style="color: #FCA311;"
    >
      CULTURA ORGANIZACIONAL
    </h1>

    <div class="flex flex-wrap -mx-4 mt-8 lg:mt-24">
      <div class="w-full sm:w-1/2 px-4">
        <img
          src="/src/images/servicios/Cultura Organizacional/1.jpg"
          alt="Imagen 1"
          class="w-full mb-4 hidden lg:flex"
        />
        <h2 class="text-4xl font-bold mb-2" style="color: #FCA311;">
          Cultura Organizacional para Triunfar
        </h2>
        <img
          src="/src/images/servicios/Cultura Organizacional/1.jpg"
          alt="Imagen 1"
          class="w-full mb-4 lg:hidden flex"
        />
        <p class="text-lg">
          Comprender por qué las organizaciones exitosas van conformando una
          cultura organizacional propia, y evolucionan para prolongar ese éxito
          en un entorno de negocios y social cada vez más exigente.
        </p>
      </div>
      <div class="w-full sm:w-1/2 px-4 mt-4 sm:mt-0">
        <img
          src="/src/images/servicios/Cultura Organizacional/2.jpg"
          alt="Imagen 2"
          class="w-full mb-4 hidden lg:flex"
        />
        <h2 class="text-4xl font-bold mb-2" style="color: #FCA311;">
          Ética Organizacional: Construyendo una Cultura de Integridad
        </h2>
        <img
          src="/src/images/servicios/Cultura Organizacional/2.jpg"
          alt="Imagen 2"
          class="w-full mb-4 lg:hidden flex"
        />
        <p class="text-lg">
          Entender por qué para garantizar el éxito a largo plazo de las
          organizaciones en indispensable para enfrentar los desafíos y dilemas
          éticos, entender los errores y trampas éticas comunes y adquirir
          conocimientos y herramientas para prevenir las conductas inapropiadas
          y seguir consolidando la confianza entre los colaboradores, clientes,
          proveedores y grupos de interés de las empresas.
        </p>
      </div>
    </div>

    <div class="flex flex-wrap -mx-4 mt-8 lg:mt-24">
      <div class="w-full sm:w-1/2 px-4">
        <img
          src="/src/images/servicios/Cultura Organizacional/3.jpg"
          alt="Imagen 1"
          class="w-full mb-4 hidden lg:flex"
        />
        <h2 class="text-4xl font-bold mb-2" style="color: #FCA311;">
          La Tarea del Cambio Cultural en las Organizaciones en Transformación
        </h2>
        <img
          src="/src/images/servicios/Cultura Organizacional/3.jpg"
          alt="Imagen 1"
          class="w-full mb-4 lg:hidden flex"
        />
        <p class="text-lg">
          Todo proceso de cambio en las empresas debe tener una propuesta de
          valor asociada. Para todo gerente es indispensable conocer los
          Conceptos y Métodos para diseñar y gerenciar un Proyecto de Cambio
          efectivo y productivo en una organización que permita materializar
          dicha propuesta de valor.
        </p>
      </div>
    </div>

    <div class="flex flex-wrap pt-14">
      <!-- Tarjetas arriba -->
      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/gerency"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/gerencia.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la primera tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-2xl" style="color: #11151C">
              Gerencia
            </p>
          </div>
        </a>
      </div>

      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/rh"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/RH.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la segunda tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-2xl" style="color: #11151C">
              Recursos Humanos
            </p>
          </div>
        </a>
      </div>

      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/leadership"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/liderazgo.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la tercera tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-2xl" style="color: #11151C">
              Liderazgo
            </p>
          </div>
        </a>
      </div>

      <div class="w-full sm:w-1/2 lg:w-1/4 p-4">
        <a
          href="/strategy"
          class="block max-w-sm border border-gray-200 rounded-lg shadow hover:bg-gray-100 relative"
        >
          <div class="bg-white rounded-t-lg overflow-hidden">
            <img
              src="/src/images/servicios/Estrategia.jpg"
              alt="Imagen de la tarjeta"
              class="w-full h-64 object-cover"
            />
            <!-- Contenido de la cuarta tarjeta -->
          </div>
          <div
            class="absolute bottom-0 left-0 w-full px-4 py-2 flex justify-center items-end rounded-t"
            style="background-color: #FCA311"
          >
            <p class="font-semibold text-2xl" style="color: #11151C">
              Estrategia
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</Layout>
