---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Perfil Luis Pulgar">
  <div class="container mx-auto px-10">
    <div class="flex flex-row">
      <!-- Contenido principal -->
      <div class="w-1/2 lg:w-1/2">
        <h1 class="text-5xl font-bold relative pt-6">Luis E. Pulgar Finol</h1>
        <br />
        <h3 class="text-2xl font-semibold pt-4">
          Ejecutivo, consultor y emprendedor con mas de 35 años de experiencia
          Directiva y de Consultoría en altos niveles en Corporaciones
          Nacionales y Multinacionales de Latinoamérica Norteamérica y Europa.
        </h3>
        <br />
        <br />
        <p class="text-lg">
          Consultor Internacional, reconocido por su competencia para potenciar
          la capacidad de las organizaciones para generar valor mediante la
          innovación y el cambio positivo. De su trabajo como consultor y asesor
          de alto nivel se han beneficiado más de 25 importantes empresas en 9
          países de América y Europa.
        </p>
        <br />
        <br />
        <p class="text-lg">
          Es el autor del libro: “Verdadero Business Partner – Como Recursos
          Humanos puede ser un auténtico socio de negocio”. Parte de su
          experiencia fue reseñada en el libro “The 8 Practices of Excepcional
          Companies. How Great Organizations Make the most of Their Human
          Assets” de Jac Fitz-Enz. Es reconocido internacionalmente por
          potenciar la capacidad de las organizacion espara la generación de
          valor y el cambio positivo, con tres objetivos fundamentales: que
          cuenten con las competencias que requieren para cumplir sus
          compromisos y objetivos, que éstas competencias sean sustentables
          mediante la sucesión eficaz en las posiciones claves y las oportunas
          acciones de desarrollo y que la cultura organizacional evolucione de
          manera armónica con el entorno empresarial y social.
        </p>
      </div>

      <!-- Imagen de la persona -->
      <div class="w-auto lg:w-1/2 flex justify-center pl-5">
        <img
          src="/src/images/perfil/luis1.JPG"
          alt="Imagen de perfil"
          class="rounded-lg object-contain max-h-48 lg:max-h-full"
        />
        <div class="absolute bottom-0 left-0 w-full h-2 bg-fca311"></div>
      </div>
    </div>

    <div class="flex justify-center pt-5">
      <h1 class="text-5xl font-bold relative pt-6">Carrera Profesional</h1>
    </div>
    <div class="flex flex-row pt-16">
      <!-- Imagen de la persona -->
      <div class="w-auto lg:w-1/2 flex justify-center pr-5">
        <img
          src="/src/images/perfil/luis2.JPG"
          alt="Imagen de perfil"
          class="rounded-lg object-contain max-h-48 lg:max-h-full"
        />
        <div class="absolute bottom-0 left-0 w-full h-2 bg-fca311"></div>
      </div>
      <!-- Contenido principal -->
      <div class="w-1/2 lg:w-1/2">
        <div class="flex items-start">
          <img
            src="/src/images/perfil/puntos-carrera-profesional.png"
            alt="Imagen 1"
            class="mr-4"
            width="50"
            height="50"
          />
          <p class="text-lg">
            Es Partner Advisor de la empresa Bonum Coaching
            (https://www.bonumcoaching.com/), con base en Florida, USA y ha
            trabajado como consultor experto para Arthur D. Little en Recursos
            Humanos, Organización y HSA. Desde enero de 2020 hasta diciembre de
            2023 se desempeñó́ como Vicepresidente Ejecutivo de la empresa TV
            Novedades TV – Colombia (https://www.tvnovedadestv.com.co/).
          </p>
        </div>
        <div class="flex my-24 items-start">
          <img
            src="/src/images/perfil/puntos-carrera-profesional.png"
            alt="Imagen 2"
            class="mr-4"
            width="50"
            height="50"
          />
          <p class="text-lg">
            Tuvo una importante carrera profesional y ejecutiva en la industria
            petrolera venezolana (1974-2003) donde alcanzó las posiciones de
            gerente general de Recursos Humanos de Exploración y Producción y
            miembro de la Junta Directiva de PDVSA Informática y
            Telecomunicaciones. Posteriormente fue miembro de la Junta Directiva
            del Grupo Forestal Soledad en Venezuela (2003-2014), del Industrial
            Consulting Group en Colombia (2016-2018)
          </p>
        </div>
        <div class="flex my-24 items-start">
          <img
            src="/src/images/perfil/puntos-carrera-profesional.png"
            alt="Imagen 3"
            class="mr-4"
            width="50"
            height="50"
          />
          <p class="text-lg">
            Fue miembro del Comité́ Ejecutivo de Latinoamérica de la empresa
            transnacional NV Bekaert (2009-2016) donde fue VP de Recursos
            Humanos para la región y miembro de sus equipos de Liderazgo Global
            de Recursos Humanos y de Seguridad Higiene y Ambiente. En varias
            ocasiones ha actuado como líder de equipos interdisciplinarios de
            alto nivel en complejos procesos de transformación organizacional
            hacia esquemas clase mundial.
          </p>
        </div>
      </div>
    </div>

    <div class="flex pb-14">
      <p class="text-lg">
        Ha sido profesor en diversas maestrías de la PRIME Business School de la
        Universidad Sergio Arboleda de Bogotá, en su sede principal y en su
        Experiencia Internacional y ha dictado seminarios en varios postgrados
        de las universidades El Externado y UNIMINUTO en Colombia. Anteriormente
        fue profesor en la Universidad Católica Andrés Bello, la Universidad del
        Zulia y la Universidad Rafael María Baralt, en Venezuela. Ha sido
        conferencista en importantes congresos profesionales y en foros en
        varios países de Latinoamérica y España. Ha publicado numerosos
        artículos y ensayos sobre temas generales y de gerencia. Es venezolano
        por nacimiento y ciudadano colombiano. Residió en Bogotá́, Colombia desde
        2011 hasta 2022 y actualmente vive en Valladolid, España.
      </p>
    </div>

    <div class="flex justify-center">
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-200 dark:border-gray-200 mr-20"
      >
        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-center">
            Trayectoria académica
          </h5>
          <img
            class="rounded-t-lg mx-auto"
            src="/src/images/perfil/birrete 1.png"
            alt=""
          />
          <ul class="max-w-md space-y-1 list-disc list-inside">
            <li class="py-3">
              Ingeniero Industrial de la Universidad Católica Andrés Bello –
              Venezuela.
            </li>
            <li class="py-3">
              Master en Gerencia de RRRHH de la Universidad Rafael María Baralt
              – Venezuela.
            </li>
            <li class="py-3">
              Ha participado en programas de especialización en las
              universidades de Michigan, Wharton, Penn State, Cornell y MIT en
              Planificación Estratégica, Recursos Humanos, Finanzas y Gerencia
              del Cambio
            </li>
          </ul>
        </div>
      </div>
      <div
        class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-200 dark:border-gray-200"
      >
        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-center">
            Otros aspectos de interés
          </h5>
          <img
            class="rounded-t-lg mx-auto"
            src="/src/images/perfil/bombilla-de-idea 1.png"
            alt=""
          />
          <ul class="max-w-md space-y-1 list-disc list-inside">
            <li class="py-3">
              Fue presidente de la Asociación Venezolana de Ingenieros
              Industriales y ha colaborado como conferencista con La Asociación
              para el Progreso de la Dirección (APD), la Asociación Colombiana
              de Gestión Humana (ACRIP) y la Asociación Colombiana de Ingenieros
              de Petróleo(ACIPET), la Compañía de Jesús, entre otros en Colombia
              y la Confederación de Asociaciones Empresariales de Burgos y la
              Universidad Autónoma de Madrid, en España.
            </li>
            <li class="py-3">
              Ha sido líder de equipos de negociación, tanto en aspectos
              laborales como de negocios, en contratos de hasta USD 165
              millones, focalizado en el logro de resultados ganar-ganar que
              procuran la utilización de indicadores de valor agregado para
              medir el cumplimiento de los objetivos.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px; /* Ajusta el valor para la distancia entre el texto y el subrayado */
    width: 100%;
    height: 10px; /* Ajusta el valor para el grosor del subrayado */
    background-color: #fca311; /* Cambia el color del subrayado aquí */
  }

  .text-center {
    text-align: center;
  }
</style>
