<div class="grid gap-4">
  <div class="relative">
    <a
      href="/ruta-del-8-pasos"
      class="block max-w-full rounded-lg overflow-hidden focus:outline-none h-80"
    >
      <div class="gradient-img h-auto w-full rounded-lg first-img relative">
        <img
          class="h-auto w-full rounded-lg"
          src="/src/images/8-pasos.jpg"
          alt=""
        />
        <!-- Ajustar el tamaño de la imagen aquí -->
        <div
          class="absolute inset-0 bg-gradient-to-b from-[#14213d2d] to-[#212D40] opacity-80"
        >
        </div>
      </div>
      <p
        class="absolute top-1/2 right-0 transform -translate-y-1/2 z-10 text-white text-3xl mt-4 font-bold text-center"
        style="right: 50px;"
      >
        Los 8 pasos para ser un<br />Verdadero Business Partner<br /> de Recursos
        Humanos
      </p>
    </a>
  </div>
  <div class="grid grid-cols-3 gap-4">
    <div class="relative">
      <div class="flex justify-center items-end">
        <a
          href="/profile"
          class="block max-w-full rounded-lg overflow-hidden focus:outline-none"
        >
          <button
            class="relative block h-auto max-w-full rounded-lg overflow-hidden focus:outline-none"
          >
            <img
              class="h-auto w-full rounded-lg"
              src="/src/images/perfil.png"
              alt=""
            />
            <!-- Ajustar el tamaño de la imagen aquí -->
            <div
              class="absolute inset-0 bg-gradient-to-b from-[#14213d09] to-[#212d40b4] opacity-80"
            >
            </div>
            <p
              class="absolute bottom-0 left-0 right-0 z-10 text-white text-xl mt-4 font-bold text-center"
            >
              PERFIL
            </p>
          </button>
        </a>
      </div>
    </div>
    <div class="relative">
      <div class="flex justify-center items-end">
        <a
          href="/ruta-de-servicios"
          class="block max-w-full rounded-lg overflow-hidden focus:outline-none"
        >
          <button
            class="relative block h-auto max-w-full rounded-lg overflow-hidden focus:outline-none"
          >
            <img
              class="h-auto w-full rounded-lg"
              src="/src/images/servicios.png"
              alt=""
            />
            <!-- Ajustar el tamaño de la imagen aquí -->
            <div
              class="absolute inset-0 bg-gradient-to-b from-[#14213d0e] to-[#212d40c9] opacity-80"
            >
            </div>
            <p
              class="absolute bottom-0 left-0 right-0 z-10 text-white text-xl mt-4 font-bold text-center"
            >
              SERVICIOS
            </p>
          </button>
        </a>
      </div>
    </div>
    <div class="relative">
      <div class="flex justify-center items-end">
        <a
          href="/ruta-del-blog"
          class="block max-w-full rounded-lg overflow-hidden focus:outline-none"
        >
          <button
            class="relative block h-auto max-w-full rounded-lg overflow-hidden focus:outline-none"
          >
            <img
              class="h-auto w-full rounded-lg"
              src="/src/images/blog.png"
              alt=""
            />
            <!-- Ajustar el tamaño de la imagen aquí -->
            <div
              class="absolute inset-0 bg-gradient-to-b from-[#14213d21] to-[#212d40b7] opacity-80"
            >
            </div>
            <p
              class="absolute bottom-0 left-0 right-0 z-10 text-white text-xl mt-4 font-bold text-center"
            >
              BLOG
            </p>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
