<div class="grid gap-4">
  <div class="grid lg:grid-cols-4 gap-4 grid-cols-2">
    <div class="relative">
      <div class="flex justify-center items-end">
        <a
          href="/profile"
          class="block max-w-full rounded-lg overflow-hidden focus:outline-none"
        >
          <button
            class="relative block h-auto max-w-full rounded-lg overflow-hidden focus:outline-none"
          >
            <img
              class="h-auto w-full rounded-lg"
              src="/src/images/perfil.png"
              alt=""
            />
            <!-- Ajustar el tamaño de la imagen aquí -->
            <div
              class="absolute inset-0 bg-gradient-to-b from-[#14213d09] to-[#212d40b4] opacity-80"
            >
            </div>
            <p
              class="absolute bottom-0 left-0 right-0 z-10 text-white text-xl mt-4 font-bold text-center"
            >
              PERFIL
            </p>
          </button>
        </a>
      </div>
    </div>
    <div class="relative">
      <div class="flex justify-center items-end">
        <a
          href="/services"
          class="block max-w-full rounded-lg overflow-hidden focus:outline-none"
        >
          <button
            class="relative block h-auto max-w-full rounded-lg overflow-hidden focus:outline-none"
          >
            <img
              class="h-auto w-full rounded-lg"
              src="/src/images/servicios.png"
              alt=""
            />
            <!-- Ajustar el tamaño de la imagen aquí -->
            <div
              class="absolute inset-0 bg-gradient-to-b from-[#14213d0e] to-[#212d40c9] opacity-80"
            >
            </div>
            <p
              class="absolute bottom-0 left-0 right-0 z-10 text-white text-xl mt-4 font-bold text-center"
            >
              SERVICIOS
            </p>
          </button>
        </a>
      </div>
    </div>
    <div class="relative">
      <div class="flex justify-center items-end">
        <a
          href="/blog"
          class="block max-w-full rounded-lg overflow-hidden focus:outline-none"
        >
          <button
            class="relative block h-auto max-w-full rounded-lg overflow-hidden focus:outline-none"
          >
            <img
              class="h-auto w-full rounded-lg"
              src="/src/images/blog.png"
              alt=""
            />
            <!-- Ajustar el tamaño de la imagen aquí -->
            <div
              class="absolute inset-0 bg-gradient-to-b from-[#14213d21] to-[#212d40b7] opacity-80"
            >
            </div>
            <p
              class="absolute bottom-0 left-0 right-0 z-10 text-white text-xl mt-4 font-bold text-center"
            >
              BLOG
            </p>
          </button>
        </a>
      </div>
    </div>
    <div class="relative">
      <div class="flex justify-center items-end">
        <a
          href="/8steps"
          class="block max-w-full rounded-lg overflow-hidden focus:outline-none"
        >
          <button
            class="relative block h-auto max-w-full rounded-lg overflow-hidden focus:outline-none"
          >
            <img
              class="h-auto w-full rounded-lg"
              src="/src/images/Boton_8_pasos.png"
              alt=""
            />
            <!-- Ajustar el tamaño de la imagen aquí -->
            <div
              class="absolute inset-0 bg-gradient-to-b from-[#14213d21] to-[#212d40b7] opacity-80"
            >
            </div>
            <p
              class="absolute bottom-0 left-0 right-0 z-10 text-white text-xl mt-4 font-bold text-center"
            >
              LOS 8 PASOS PARA SER UN VERDADERO BUSINESS PARTNER DE RRHH
            </p>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
